/* Force Chatter to Bottom - Odoo 19 */

.o_form_view.o_xxl_form_view {
    flex-flow: row wrap !important;
    height: auto !important;
}

.o_form_view .o_form_view_container {
    width: 100% !important;
    max-width: 100% !important;
}

.o_FormRenderer_chatterContainer.o-aside {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
    border-left: none !important;
    border-top: 1px solid var(--border-color, #dee2e6) !important;
    margin-left: 0 !important;
    margin-top: 16px !important;
}

.o_form_view.o_xxl_form_view .o_form_sheet_bg > .o_form_sheet {
    max-width: 100% !important;
}

.o_FormRenderer_chatterContainer {
    position: relative !important;
    width: 100% !important;
}

.oe_chatter.o-aside {
    width: 100% !important;
    max-width: 100% !important;
    flex: 0 0 100% !important;
}